* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    height: 100vh;
    background-color: indigo;
}

.nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-logo {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.nav-list {
    display: flex;
    column-gap: 30px;
}

.nav-link {
    color: white;
    font-size: 24px;
}

.header-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.header-title {
    color: yellowgreen;
    font-size: 50px;
    text-transform: uppercase;
}

.header-text {
    color: white;
    font-size: 26px;
    font-weight: 700;
}